<div class="footer">
	<div class="footer-warp">
		<p class="links">
			<a href="http://www.sina.com.cn/" target="_blank" class="sina">新浪</a>
			<a href="https://github.com/" target="_blank" class="git">git</a>
		</p>
		<p class="copyright">Powered by hexo<br />© 2017  , Content By ziy All Rights Reserved.</p>
	</div>
</div>