@charset "UTF-8";
.header {
    position:fixed;
    z-index: 1;
    width: 100%;
    top:0;
    padding-top: 20%;
    text-align: center;
    text-transform:uppercase;
    @extend .tra-all;
    opacity: 1;
    h1 {
        line-height:1.8em;
    }
    .head-des {
        font-size: 24px;
    }
}

.header-hide {
    top: 200px;
    opacity: 0;
}

