@charset "UTF-8";
html,body,div,ul,ol,li,dl,dt,dd,p,img,input,select,textarea,button,a,span,h1,h2,h3,h4 { padding: 0; margin: 0; outline: none; -webkit-tap-highlight-color: rgba(0,0,0,0);}
html { height: 100%; }
body { width: 100%;}
ul,ol,li { list-style: none;}
h1 { font-size: 36px;}
h2 { font-size: 30px;}
h3 { font-size: 24px;}
body {
    font-family: "arial","microsoft yahei"; color: #666; font-size:14px; position: relative; min-height: 100%;
    &.hasBg {
        background: url(../img/bg.jpg) center top no-repeat #fff;
        background-size: 100%;
        background-attachment:fixed;
    }
}
input,select,textarea,button,option { font-family:"arial","microsoft yahei"; font-size:14px;}
input::-webkit-input-placeholder{
    color: $gray;
    opacity:1;
}
button { border: none;}

a { color: #333; text-decoration:none; }
a:hover { color: $blue; @extend .tra-all;}
