<div class="main main-list">
	<div class="main-warp">
		<div class="main-list-site">
			<a href="<%= config.root %>">首页</a><span>»</span>TAG<span>»</span><h1><a href="<%= url_for(page.path) %>"><%= page.tag %></a></h1>
		</div>
<%- partial('_partial/list') %>
	</div>
</div>